<a routerLink="/teams">All teams</a>

<h2><a routerLink="/team/{{team.id}}">{{team.displayName}}</a> : {{period.displayName}}</h2>

<app-bucket *ngFor="let bucket of period.buckets" [bucket]="bucket" [unit]="period.unit"
    [totalAllocationPercentage]="totalAllocationPercentage()"
    [globalResourcesAvailable]="totalAvailable()"></app-bucket>

<app-people [people]="period.people"
     [peopleCommitments]="peopleCommitments()"
     [totalAvailable]="totalAvailable()"
     [totalCommitted]="totalCommitted()"
     [totalUncommitted]="totalUncommitted()"
     [unit]="period.unit">
</app-people>