<mat-spinner *ngIf="!isLoaded()"></mat-spinner>
<div *ngIf="isLoaded()" class="grid-container">

<div fxLayout="row" fxLayoutGap="20px" width="100%">
<div fxLayout="column" fxFlex="calc(70%-20px)" fxFlex.lt-md="100%">
    <h2 class="mat-h2 period-title">
        <a routerLink="/team/{{team!.id}}">{{team!.displayName}}</a> : <span (click)="edit()">{{period?.displayName}}</span>
        <span class="title-buttons">
            <a mat-raised-button routerLink="/team/{{team!.id}}/periodsummary/{{period!.id}}" target="_blank" rel="noopener noreferrer" color="primary">View Summary</a>
            <a mat-raised-button *ngIf="period?.notesURL" href="{{period!.notesURL}}" target="_blank" rel="noopener noreferrer" color="primary">View Notes</a>
        </span>
    </h2>
    <h4 class="mat-h4" [class.warning]="committedAllocationsTooHigh()">{{committedAllocationRatio() | percent}} committed ({{committedAllocations() | number:'1.0-1'}} of {{totalAllocated() | number:'1.0-1'}} {{period?.unit}})</h4>
</div>
<div fxLayout="column" fxFlex="calc(30%-20px)" fxFlex.lt-md="100%" fxLayoutGap="20px">
<div class="editor-options">
    <span *ngIf="isEditingEnabled">
        <button mat-fab (click)="toggleReordering()" [color]="reorderButtonColour()"><mat-icon>reorder</mat-icon></button>
        <button mat-fab (click)="disableEditing()" color="primary"><mat-icon>done</mat-icon></button>
    </span>
    <span *ngIf="!isEditingEnabled">
        <button mat-fab (click)="enableEditing()" color="primary"><mat-icon>edit</mat-icon></button>
    </span>
</div>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="20px" width="100%">

<div fxLayout="column" fxFlex="calc(50%-20px)" fxFlex.lt-md="100%" fxLayoutGap="20px">
<app-bucket *ngFor="let bucket of period!.buckets" [bucket]="bucket" [unit]="period?.unit"
    [totalAllocationPercentage]="totalAllocationPercentage()"
    [globalResourcesAvailable]="totalAvailable()"
    [maxCommittedPercentage]="period?.maxCommittedPercentage"
    [unallocatedTime]="unallocatedTime()"
    [showOrderButtons]="showOrderButtons && isEditingEnabled"
    [isEditingEnabled]="isEditingEnabled"
    [otherBuckets]="otherBuckets(bucket)"
    (onMoveBucketUp)="moveBucketUpOne($event)"
    (onMoveBucketDown)="moveBucketDownOne($event)"
    (onChanged)="save()"></app-bucket>

<div><button (click)="addBucket()" mat-button [disabled]="!isEditingEnabled" color="primary">Add Bucket</button></div>

</div>

<span fxLayout="column" fxFlex="calc(50%-20px)" fxFlex.lt-md="100%" fxLayoutGap="20px">
<app-people [people]="period?.people"
    [peopleAllocations]="peopleAllocations()"
    [peopleCommittedAllocations]="peopleCommittedAllocations()"
    [peopleAssignmentCounts]="peopleAssignmentCounts()"
    [totalAvailable]="totalAvailable()"
    [totalAllocated]="totalAllocated()"
    [totalUnallocated]="totalUnallocated()"
    [totalAssignmentCount]="totalAssignmentCount()"
    [unit]="period?.unit"
    [isEditingEnabled]="isEditingEnabled"
    (onChanged)="save()"
    (onDelete)="deletePerson($event)">
</app-people>
<app-assignments-by-person [period]="period"></app-assignments-by-person>
<app-assignments-classify *ngFor="let groupType of groupTypesWithAssignments()"
    [period]="period" [aggregateBy]="AggregateBy.Group" [groupType]="groupType"
    [isEditingEnabled]="isEditingEnabled"
    (onRename)="renameGroup(groupType, $event[0], $event[1])"
    title="Assignments by {{groupType}}"></app-assignments-classify>
<app-assignments-classify *ngIf="hasTagsWithAssignments()"
    [period]="period" [aggregateBy]="AggregateBy.Tag"
    [isEditingEnabled]="isEditingEnabled"
    (onRename)="renameTag($event[0], $event[1])"
    title="Assignments by tag"></app-assignments-classify>
</span>

</div>
</div>
