<a routerLink="/teams">All teams</a>

<h2><a routerLink="/team/{{team.id}}">{{team.displayName}}</a> : {{period.displayName}}</h2>

<div *ngFor="let bucket of period.buckets">
<h3>{{bucket.displayName}}</h3>
<p><b>Allocation: {{bucket.allocationPercentage}}% = {{bucketAllocation(bucket) | number:'1.1'}} {{period.unit}}</b>
<br/><b>Committed: {{bucketCommitted(bucket)}} {{period.unit}}</b></p>
<ul>
    <div *ngFor="let objective of bucket.objectives">
        <li>{{objective.name}} ({{objective.resourceEstimate}} {{period.unit}})</li>
        <ul *ngIf="objective.assignments">
            <li *ngFor="let assignment of objective.assignments">{{assignment.personId}}: {{assignment.commitment}} {{period.unit}}</li>
        </ul>
    </div>
</ul>
</div>

<h3>People</h3>
<ul>
    <li *ngFor="let person of period.people">{{person.displayName}} ({{person.id}}) - {{person.availability}} {{period.unit}} available, {{personCommitted(person)}} committed, {{personUncommitted(person)}} uncommitted</li>
    <li><b>Total: {{totalAvailable()}} {{period.unit}} available; {{totalCommitted()}} committed</b></li>
</ul>
