<h2 mat-dialog-title>Edit Objective Block</h2>
<mat-dialog-content>
  <p>You can group the selected objectives <b>{{data.blockPlaceholder.name}}</b> with others below,
to reorder them as a block.</p>
<mat-selection-list #below [multiple]="false" [(ngModel)]="selected" style="max-height: 50vh;">
  @for (block of data.blocksBelow; track block; let idx = $index) {
    <mat-list-option [value]="idx" [class.selected-range]="below.selectedOptions.selected.length > 0 && idx <= below.selectedOptions.selected[0].value">
      {{block.name}}
    </mat-list-option>
  }
</mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="createBlock()" [disabled]="below.selectedOptions.selected.length === 0">Create block</button>
  @if (data.blockPlaceholder.blockID) {
    <button mat-button (click)="splitBlock()" color="warn">Split existing group</button>
  }
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
