<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Objectives: {{bucket?.displayName}} ({{bucketAllocationFraction | percent}})</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (hasCommittedObjectives()) {
      <div>
        <h3>Committed</h3>
        <ul>
          @for (objective of committedObjectives(); track objective) {
            <li>
              <app-objective-summary [objective]="objective" [unit]="unit"></app-objective-summary>
            </li>
          }
        </ul>
      </div>
    }

    @if (hasAspirationalObjectives()) {
      <div>
        <h3>Aspirational (descending priority)</h3>
        <ul>
          @for (objective of aspirationalObjectives(); track objective) {
            <li>
              <app-objective-summary [objective]="objective" [unit]="unit"></app-objective-summary>
            </li>
          }
        </ul>
      </div>
    }

    @if (hasRejectedObjectives()) {
      <div>
        <h3>Rejected</h3>
        <ul>
          @for (objective of rejectedObjectives(); track objective) {
            <li>
              <app-objective-summary [objective]="objective" [unit]="unit"></app-objective-summary>
            </li>
          }
        </ul>
      </div>
    }
  </mat-card-content>
</mat-card>
