<mat-card>
    <mat-card-header>
        <mat-card-title>Objectives: {{bucket?.displayName}} ({{bucketAllocationFraction | percent}})</mat-card-title>
    </mat-card-header>
    <mat-card-content><div class="titlealign">
        <div *ngIf="hasCommittedObjectives()">
        <h3>Committed</h3>
        <ul>
            <li *ngFor="let objective of committedObjectives()">
                <app-objective-summary [objective]="objective" [unit]="unit"></app-objective-summary>
            </li>
        </ul>
        </div>

        <div *ngIf="hasAspirationalObjectives()">
        <h3>Aspirational (descending priority)</h3>
        <ul>
            <li *ngFor="let objective of aspirationalObjectives()">
                <app-objective-summary [objective]="objective" [unit]="unit"></app-objective-summary>
            </li>
        </ul>
        </div>

        <div *ngIf="hasRejectedObjectives()">
        <h3>Rejected</h3>
        <ul>
            <li *ngFor="let objective of rejectedObjectives()">
                <app-objective-summary [objective]="objective" [unit]="unit"></app-objective-summary>
            </li>
        </ul>
        </div>
    </div></mat-card-content>
</mat-card>
