# Don't format HTML for now
*.html

# compiled output
/dist
/dist-server
/tmp
/out-tsc
/appengine_dist
/.angular

# dependencies
/node_modules

# Automatically-maintained files
package.json
package-lock.json

