.rows {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.objective-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
}
.objective-field {
  flex: 4
}
.is-markdown-field {
  flex: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 56px; /* Matches the form field */
}
.markdown-preview {
  color: black;
}

.props-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
@media (max-width: 1024px) {
  .props-row {
    flex-direction: column;
  }
}
.props-field {
  flex: 1
}

.notes-row {
  display: flex;
  flex-direction: row;
}
.notes-field {
  width: 100%;
}