<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
  <p>Objective</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.objective.name">
  </mat-form-field>
  <p>Resource estimate ({{data.unit}})</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.objective.resourceEstimate" type="number">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data.objective" [disabled]="!isDataValid()" color="primary">{{data.okAction}}</button>
  <button *ngIf="data.allowCancel" mat-button (click)="onCancel()" color="warn">Cancel</button>
</div>