<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
  <fieldset>
    <mat-form-field appearance="fill">
      <mat-label>Objective</mat-label>
      <input matInput [(ngModel)]="data.objective.name">
    </mat-form-field>
    <div class="markdown">
      <mat-checkbox [(ngModel)]="data.objective.displayOptions.enableMarkdown">
        Enable Markdown
      </mat-checkbox>
      <a mat-icon-button
          href="https://guides.github.com/features/mastering-markdown/#examples"
          target="_blank"
          rel="noopener noreferrer">
        <mat-icon>help_outline</mat-icon>
      </a>
    </div>
  </fieldset>
  <div *ngIf="data.objective.displayOptions.enableMarkdown" class="mat-form-field-wrapper">
    Preview:
    <p [innerHTML]="data.objective.name | markdownify"></p>
  </div>
  <fieldset>
    <mat-form-field appearance="fill">
      <mat-label>Commitment type</mat-label>
      <mat-select [(ngModel)]="data.objective.commitmentType">
          <mat-option value="Aspirational">Aspirational</mat-option>
          <mat-option value="Committed">Committed</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field hintLabel="({{data.unit}})" appearance="fill">
      <mat-label>Resource estimate</mat-label>
      <input matInput [(ngModel)]="data.objective.resourceEstimate" type="number">
    </mat-form-field>
    <mat-form-field hintLabel="(key1:value1,key2:value2,...)" appearance="fill">
      <mat-label>Groups</mat-label>
      <input matInput [(ngModel)]="data.objective.groups">
    </mat-form-field>
    <mat-form-field hintLabel="(Comma-separated)" appearance="fill">
      <mat-label>Tags</mat-label>
      <input matInput [(ngModel)]="data.objective.tags">
    </mat-form-field>
  </fieldset>
  <fieldset>
    <mat-form-field appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput [(ngModel)]="data.objective.notes" rows="4"></textarea>
    </mat-form-field>
  </fieldset>
</div>

<div mat-dialog-actions>
  <div *ngIf="data.saveAction === 'new'">
    <button mat-raised-button (click)="onAddToTop()" [disabled]="!isDataValid()" color="primary">Add To Top</button>
    <button mat-raised-button (click)="onAddToBottom()" [disabled]="!isDataValid()" color="primary">Add To Bottom</button>
  </div>
  <div *ngIf="data.saveAction === 'edit'">
    <button mat-raised-button (click)="onSaveExisting()" [disabled]="!isDataValid()" color="primary">Save</button>
    <button *ngIf="data.otherBuckets && data.otherBuckets.length" mat-button [matMenuTriggerFor]="moveBucketMenu">Move</button>
    <mat-menu #moveBucketMenu="matMenu">
      <button mat-menu-item *ngFor="let bucket of data.otherBuckets" (click)="onMove(bucket)">
        {{bucket.displayName}}
      </button>
    </mat-menu>
  </div>
  <button mat-button (click)="onCancel()" color="warn">Cancel</button>
  <button *ngIf="data.saveAction === 'edit' && !showDeleteConfirm" mat-button (click)="onDelete()" color="warn">Delete</button>
  <button *ngIf="showDeleteConfirm" mat-raised-button (click)="onCancelDelete()">Cancel Delete</button>
  <button *ngIf="showDeleteConfirm" mat-raised-button (click)="onConfirmDelete()" color="warn">Confirm Delete</button>
</div>