<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
  <p>Objective</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.objective.name">
  </mat-form-field>
  <p>Resource estimate ({{data.unit}})</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.objective.resourceEstimate" type="number">
  </mat-form-field>
  <p>Commitment type</p>
  <mat-form-field>
    <mat-select [(ngModel)]="data.objective.commitmentType">
        <mat-option value="Aspirational">Aspirational</mat-option>
        <mat-option value="Committed">Committed</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data.objective" [disabled]="!isDataValid()" color="primary">{{data.okAction}}</button>
  <button *ngIf="data.allowCancel" mat-button (click)="onCancel()" color="warn">Cancel</button>
  <button *ngIf="data.onDelete && !showDeleteConfirm" mat-button (click)="onDelete()" color="warn">Delete</button>
  <button *ngIf="showDeleteConfirm" mat-raised-button (click)="onCancelDelete()">Cancel Delete</button>
  <button *ngIf="showDeleteConfirm" mat-raised-button (click)="onConfirmDelete()" color="warn">Confirm Delete</button>
</div>