<h1 mat-dialog-title class="ellipsis-title">Assign "{{data.objective.name}}"</h1>
<div mat-dialog-content>
    <p [class.error]="unassignedTime() < 0">Unassigned: {{unassignedTime()}} {{data.unit}}</p>
    <table mat-table [dataSource]="data.people">
        <ng-container matColumnDef="person">
            <th mat-header-cell *matHeaderCellDef>Person</th>
            <td mat-cell *matCellDef="let element">{{element.username}}</td>
        </ng-container>
        <ng-container matColumnDef="available">
            <th mat-header-cell *matHeaderCellDef>Available</th>
            <td mat-cell *matCellDef="let element">{{element.available}}</td>
        </ng-container>
        <ng-container matColumnDef="assign">
            <th mat-header-cell *matHeaderCellDef>Assign</th>
            <td mat-cell *matCellDef="let element">{{element.assign}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="assignNone(element)" color="primary">None</button>
                <button mat-button (click)="assignRemaining(element)" [disabled]="unassignedTime() <= 0" color="primary">Remaining</button>
                <button mat-button (click)="assignMore(element)" [disabled]="isFullyAllocated(element)" color="primary">+1</button>
                <button mat-button (click)="assignLess(element)" [disabled]="isFullyUnallocated(element)" color="primary">-1</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="data.columns"></tr>
        <tr mat-row *matRowDef="let row; columns: data.columns;"></tr>
    </table>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="data" [disabled]="!isDataValid()" color="primary">OK</button>
    <button mat-button (click)="onCancel()" color="warn">Cancel</button>
</div>
