{{quantity}}@if (ofQuantity !== undefined) {
<span
> of {{ofQuantity}}</span>
} {{primaryUnit}}@if (secondaryUnits && secondaryUnits.length > 0) {
<span
  > (@for (su of secondaryUnits; track su; let isLast = $last) {
  <span
    >{{quantityIn(quantity!, su) | number:'.0-1'}}@if (ofQuantity) {
    <span> of {{quantityIn(ofQuantity, su) | number:'.0-1'}}</span>
    } {{su.name}}@if (!isLast) {
    <span
    >, </span>
  }</span>
})</span>
}@if (fraction !== undefined) {
<span
> &rarr; {{fraction | percent:"1.0-1"}}</span>
}
