<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content class="fields">
  @if (data.allowEditID) {
    <mat-form-field>
      <mat-label>Period ID</mat-label>
      <input matInput [formControl]="periodIdControl">
    </mat-form-field>
  }
  <mat-form-field>
    <mat-label>Display name</mat-label>
    <input matInput [formControl]="displayNameControl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unit</mat-label>
    <input matInput [formControl]="unitControl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unit abbreviation</mat-label>
    <input matInput [formControl]="unitAbbrevControl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Secondary units</mat-label>
    <input matInput [formControl]="secondaryUnitsControl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Notes URL</mat-label>
    <input matInput [formControl]="notesUrlControl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Max % for committed objectives</mat-label>
    <input matInput [formControl]="maxCommitPctControl" type="number">
    @if (maxCommitPctControl.hasError('min')) {
      <mat-error>Cannot be negative</mat-error>
    }
    @if (maxCommitPctControl.hasError('max')) {
      <mat-error>Cannot be more than 100%</mat-error>
    }
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onOK()" [disabled]="!isDataValid()" color="primary">{{data.okAction}}</button>
  <button mat-button (click)="onCancel()" color="warn">Cancel</button>
</div>