<mat-card>
<mat-card-content>
<table>
  <thead>
    <tr><th>Person</th><th>Available</th><th>Committed</th><th>Uncommitted</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
        <td *ngIf="!isEditing(person)" (click)="edit(person)" [class.overcommitted]="isPersonOvercommitted(person)">{{person.displayName}} ({{person.id}})</td>
        <td *ngIf="isEditing(person)"><input [(ngModel)]="person.displayName"/> (<input [(ngModel)]="person.id"/>)</td>
        <td *ngIf="!isEditing(person)" (click)="edit(person)">{{person.availability}}</td>
        <td *ngIf="isEditing(person)"><input type="number" [(ngModel)]="person.availability"/></td>
        <td [class.overcommitted]="isPersonOvercommitted(person)">{{personCommitted(person)}}</td>
        <td [class.overcommitted]="isPersonOvercommitted(person)">{{personUncommitted(person)}}</td>
        <td *ngIf="isEditing(person)"><button (click)="stopEditing()" mat-raised-button color="primary">OK</button></td>
    </tr>
    <tr>
        <td><b>Total</b></td>
        <td><b>{{totalAvailable}}</b></td>
        <td [class.overcommitted]="isTeamOvercommitted()"><b>{{totalCommitted}}</b></td>
        <td [class.overcommitted]="isTeamOvercommitted()"><b>{{totalUncommitted}}</b></td>
    </tr>
  </tbody>
</table>
<p><button (click)="addPerson()" mat-button color="primary">Add</button>
    Default availability: <input type="number" [(ngModel)]="defaultPersonAvailability"/> {{unit}}</p>
</mat-card-content>
</mat-card>