<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
  @if (data.allowEditID) {
    <div>
      <p>Team ID</p>
      <mat-form-field>
        <input matInput [(ngModel)]="data.team.id">
      </mat-form-field>
    </div>
  }
  <p>Team Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.team.displayName">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data.team" [disabled]="!isDataValid()" color="primary">{{data.okAction}}</button>
  @if (data.allowCancel) {
    <button mat-button (click)="onCancel()" color="warn">Cancel</button>
  }
</div>