@if (isLoaded()) {
  <div class="grid-container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Teams</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list>
          @for (team of teams; track team) {
            <a mat-list-item routerLink="/team/{{team.id}}">{{team.displayName}}</a>
          }
        </mat-nav-list>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="addTeamDisabled" mat-button (click)="addTeam()" color="primary">Add Team</button>
      </mat-card-actions>
    </mat-card>
  </div>
} @else {
    <mat-spinner class="centered" color="accent"></mat-spinner>
}
