.objective-name { font-weight: normal }
.resource-estimate { font-style: italic }
.icons { margin-left: 10px; }
.notes-icon { vertical-align: middle; font-size: 16px; }
.assignments { margin-left: 10px; font-weight: bold }
.unassigned { color: grey }
.fully-allocated { color: green }
.assign-button { font-weight: bold; }
.assign-button-enabled a { color: #674ab7; text-decoration: none; }
.assign-button-enabled a:hover { text-decoration: underline; }
.assign-button-disabled { color: grey; }
.sum { display: flex; justify-content: center;   width: 10%; align-items: center;} 
.csum { float: right;  font-weight: bold;}
.objective {float: left; width: 90%;}
.container {display: flex;}
.background-safe { color: grey; }
.background-neutral { color: orange;}
.background-risk { color: red;}