.error { color: #dc3545; }
.warning { color: darkorange }
.overcommitted { color: darkorange }

.grid-container { margin: 20px }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
