html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.error {
  color: #dc3545;
}

.warning {
  color: darkorange;
}

.overallocated {
  color: darkorange;
}

.grid-container {
  margin: 20px;
}

.mat-card-header-text {
  width: 100%;
}

.mat-card-actions .mat-button-base,
.mat-dialog-actions .mat-button-base {
  text-transform: uppercase;
}
