.objective-list {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin-top: 0.5em;
}
.objective-list-item {
  min-height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
  padding: 0.3em;
}
.objective-button {
  min-width: 24px;
}

.header-button {
  float: right;
}

.cdk-drop-list-dragging .objective-list-item {
  background-color: #fff;
  cursor: move;
}

.disabled-side-icon {
  color: gray;
}

.cdk-drag-placeholder {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: move;
  min-height: 40px;
  transition: var(--transition); /* From <body> */
}

app-bucket .cdk-drag-handle,
.cdk-drag-preview-app-bucket .cdk-drag-handle {
  color: #616161;
  cursor: move;
}

app-bucket app-objective,
.cdk-drag-preview-app-bucket app-objective {
  width: 100%;
}

.cdk-drag-preview-app-bucket {
  background-color: #fff;
}
