<mat-card>
<mat-card-header>
<mat-card-title>
    <span *ngIf="showOrderButtons" class="order-buttons">
        <button (click)="moveBucketUp()" mat-icon-button color="primary"><mat-icon>arrow_upward</mat-icon></button>
        <button (click)="moveBucketDown()" mat-icon-button color="primary"><mat-icon>arrow_downward</mat-icon></button>
    </span>
    <span (click)="edit()">{{bucket.displayName}}
    <span [class.error]="totalAllocationPercentage > 100"> ({{bucket.allocationPercentage}}%)</span>
    </span>
    <button (click)="addObjective()" mat-button color="primary" class="header-button">Add Objective</button>
</mat-card-title>
<mat-card-subtitle>
  <div [class.warning]="resourcesCommitted() > bucketAllocation()" class="badge badge-pill text-right">
            {{resourcesCommitted()}} of {{bucketAllocation() | number:'1.1-1'}} {{unit}}
  </div>
</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<mat-list dense>
    <ng-container *ngFor="let objective of bucket.objectives">
    <app-objective
        [objective]="objective" [unit]="unit"
        [uncommittedTime]="uncommittedTime"
        [showOrderButtons]="showOrderButtons"
        (onDelete)="deleteObjective($event)"
        (onMoveObjectiveUp)="moveObjectiveUpOne($event)"
        (onMoveObjectiveDown)="moveObjectiveDownOne($event)"
        (onChanged)="onObjectiveChanged($event)"></app-objective>
    </ng-container>
</mat-list>
</mat-card-content>
</mat-card>
