app-bucket {
  --color: rgba(0, 0, 0, 0.04);
}

app-bucket .header-button {
  float: right;
}

app-bucket .order-buttons {
  margin-right: 10px;
}

app-bucket .mat-icon-button {
  width: 30px;
}

app-bucket .interactive:hover {
  background-color: var(--color);
  cursor: pointer;
}

app-bucket .cdk-drop-list-dragging .interactive {
  background-color: #fff;
  cursor: move;
}

app-bucket .mat-list-item-content {
  display: flex;
}

app-bucket .cdk-drag-placeholder {
  background-color: var(--color);
  cursor: move;
  min-height: 40px;
  transition: var(--transition); /* From <body> */
}

app-bucket .cdk-drag-handle,
.cdk-drag-preview-app-bucket .cdk-drag-handle {
  color: #616161;
  cursor: move;
  padding-right: 8px;
}

app-bucket app-objective,
.cdk-drag-preview-app-bucket app-objective {
  width: 100%;
}

/* These elements exist in the global scope and not within <app-bucket> */
.cdk-drag-preview-app-bucket {
  background-color: #fff;
  display: flex;
  font-size: 12px;
}

.cdk-drag-preview-app-bucket .mat-list-item-content {
  align-items: center;
  display: flex;
  flex: 1;
  padding: 0 16px;
}
