<mat-card>
<mat-card-header>
<mat-card-title>
    <span *ngIf="!isEditing" (click)="edit()">{{bucket.displayName}}</span>
    <span *ngIf="isEditing"><input [(ngModel)]="bucket.displayName"/></span>
    <span [class.error]="totalAllocationPercentage > 100"> 
        <span *ngIf="!isEditing" (click)="edit()"> ({{bucket.allocationPercentage}}%)</span>
        <span *ngIf="isEditing">
            (<input matInput type="number" [(ngModel)]="bucket.allocationPercentage"/>%)
            <button (click)="stopEditing()" mat-raised-button color="primary">OK</button>
        </span>
    </span>
</mat-card-title>
<mat-card-subtitle>
  <div [class.warning]="bucket.resourcesCommitted() > bucketAllocation()" class="badge badge-pill text-right">
            {{bucket.resourcesCommitted()}} of {{bucketAllocation() | number:'1.1-1'}} {{unit}}
  </div>
</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<mat-list dense>
    <ng-container *ngFor="let objective of bucket.objectives">
    <app-objective
        [objective]="objective" [unit]="unit"
        [validAssignees]="validAssignees"
        (onDelete)="deleteObjective($event)"></app-objective>
    </ng-container>
</mat-list>
<button (click)="addObjective()" mat-button color="primary">Add Objective</button>
</mat-card-content>
</mat-card>
