.header-button { float: right }
.order-buttons { margin-right: 10px }
.mat-icon-button { width: 30px }
.reorder-icon { vertical-align: middle; padding-right: 10px; padding-bottom: 15px; }
.app-mat-list .mat-list-item { height: auto; min-height: 40px; }
.mat-list-item app-objective { padding-bottom: 15px; }
.width { width: 100%;}