<mat-card>
<mat-card-header>
<mat-card-title>
    <span *ngIf="showOrderButtons" class="order-buttons">
        <button (click)="onMoveBucketUp()" mat-icon-button color="primary"><mat-icon>arrow_upward</mat-icon></button>
        <button (click)="onMoveBucketDown()" mat-icon-button color="primary"><mat-icon>arrow_downward</mat-icon></button>
    </span>
    <span (click)="edit()">{{bucket?.displayName}}
    <span [class.error]="isOverAllocated()"> ({{bucket?.allocationPercentage}}%)</span>
    </span>
    <button (click)="addObjective()" mat-button [disabled]="!isEditingEnabled" color="primary" class="header-button">Add Objective</button>
</mat-card-title>
<mat-card-subtitle>
  <span [class.warning]="resourcesAllocated() > bucketAllocationLimit()">
    {{resourcesAllocated()}} of {{bucketAllocationLimit() | number:'1.1-1'}} {{unit}}
  </span>
  <span [class.warning]="isOverCommitted()">
    ({{commitRatio() | percent}} committed)
  </span>
</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<mat-list dense *ngIf="!showOrderButtons">
  <mat-list-item *ngFor="let displayObjective of bucket!.objectives | displayObjectives" class="app-mat-list-item">
    <ng-container *ngTemplateOutlet="objective; context: {$implicit: displayObjective}">
    </ng-container>
  </mat-list-item>
</mat-list>
<mat-list dense *ngIf="showOrderButtons" cdkDropList (cdkDropListDropped)="reorderDrop($event)">
  <mat-list-item *ngFor="let displayObjective of bucket!.objectives | displayObjectives | groupBlocks | blockPlaceholders; last as isLast; index as idx"
      cdkDrag
      [cdkDragPreviewClass]="['cdk-drag-preview-app-bucket', 'mat-elevation-z1']" class="app-mat-list-item">
    <div *cdkDragPlaceholder></div>
    <mat-icon class="side-icon" cdkDragHandle>reorder</mat-icon>
    <mat-icon *ngIf="isBlockEditingEnabled" (click)="editBlock(idx)" class="side-icon" [class.disabled-side-icon]="isLast && !displayObjective.objective.blockID">group_work</mat-icon>
    <ng-container *ngTemplateOutlet="objective; context: {$implicit: displayObjective}">
    </ng-container>
  </mat-list-item>
</mat-list>
</mat-card-content>
</mat-card>

<!-- Reusable template for <app-objective> -->
<ng-template #objective let-displayObjective>
  <app-objective
      [objective]="displayObjective.objective"
      [unit]="unit"
      [unallocatedTime]="unallocatedTime"
      [isEditingEnabled]="isEditingEnabled && !showOrderButtons"
      [otherBuckets]="otherBuckets"
      [resourcesCumulativeSum]="displayObjective.cumulativeSum"
      [bucketAllocationLimit]="bucketAllocationLimit()"
      (moveBucket)="moveObjective($event[0], $event[1], $event[2])"
      (delete)="deleteObjective($event)"
      (changed)="onObjectiveChanged($event[0], $event[1])">
  </app-objective>
</ng-template>
