name: Frontend build

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: npm ci
        run: npm ci 2>&1 | perl -lpe 'push(@ds, $1) if /deprecated (.*@[^:]*):/; END { for $d (@ds) { print "Import path of deprecated $d:"; system("npm list $d --depth=20") == 0 or die "$!" } }'
        shell: bash
      - name: ng lint
        run: npx ng lint
      - name: ng test
        run: npx ng test --no-watch --no-progress --browsers ChromeHeadless
      - name: Prettier check
        run: npx prettier --check .
      - name: Prod build
        run: bash build_appengine.sh
      - name: List appengine_dist
        run: ls -lhR appengine_dist
