<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content class="fields">
  <mat-form-field>
    <mat-label>Bucket name</mat-label>
    <input matInput [(ngModel)]="data.bucket.displayName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Allocation type</mat-label>
    <mat-select [(ngModel)]="data.bucket.allocationType">
      <mat-option value="percentage">Percentage</mat-option>
      <mat-option value="absolute">Absolute</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="fieldrow">
    @if (data.bucket.allocationType === 'percentage') {
      <mat-form-field>
        <mat-label>Allocation (%)</mat-label>
        <input matInput [(ngModel)]="data.bucket.allocationPercentage" type="number">
      </mat-form-field>
    }
    @if (data.bucket.allocationType === 'absolute') {
      <mat-form-field>
        <mat-label>Allocation ({{data.unit}})</mat-label>
        <input matInput [(ngModel)]="data.bucket.allocationAbsolute" type="number">
      </mat-form-field>
    }
    <button mat-button [disabled]="!isAllocationUnbalanced()" (click)="balanceAllocation()">Balance</button>
    <button mat-button [disabled]="data.bucket.objectives.length === 0" [matMenuTriggerFor]="fixMenu">Fix</button>
    <mat-menu #fixMenu="matMenu">
      <button mat-menu-item (click)="fixToSumOfEstimates()">Sum of resource estimates</button>
      <button mat-menu-item (click)="fixToSumOfAssignments()">Sum of assignments</button>
    </mat-menu>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data.bucket" [disabled]="!isDataValid()" color="primary">{{data.okAction}}</button>
  <button mat-button (click)="onCancel()">Cancel</button>
  @if (data.onDelete && !showDeleteConfirm) {
    <button mat-button (click)="onDelete()" color="warn">Delete</button>
  }
  @if (showDeleteConfirm) {
    <button mat-raised-button (click)="onCancelDelete()">Cancel Delete</button>
    <button mat-raised-button (click)="onConfirmDelete()" color="warn">Confirm Delete</button>
  }
</div>
