<app-pill *ngIf="isCommittedAndFullyAllocated()">C</app-pill><span *ngIf="objective?.displayOptions?.enableMarkdown" [innerHTML]="objective?.name | markdownify"></span><span *ngIf="!objective?.displayOptions?.enableMarkdown">{{objective?.name}}</span>
<span class="resources" [class.rejected]="isRejected()" [class.partialalloc]="isPartiallyAllocated()">
    <app-resource-quantity
        [quantity]="allocatedResources()"
        [ofQuantity]="objective?.resourceEstimate"
        [primaryUnit]="unit"
        [secondaryUnits]="secondaryUnits"></app-resource-quantity>
</span>